<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<hr>
<%= link_to "編集する", edit_user_path(@user) %>|
<%= link_to "ユーザーを削除する", new_user_path,
            method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<%= link_to '戻る', blogs_path %>